body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul{
    list-style-type: none;
    display: flex;
    gap : 16px;
}

.left{
    align-items:center;
    font-size:24px;
    color:  #F9FAF8;
    justify-content: space-around;
    font-weight: bold;
}

.right{
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.second{
    display: flex;
    background-color: #1F2937;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex: 2 1;
    padding-left: 105px;
}

.Hero-main-text{
    size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.Hero-secondary-text{
    size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: 2;
    margin:2;
}

.main-image{
    height: 250px;
    width: 500px;
}

.second-left{
    padding: 30px;

}

.second-right{
    padding: 30px;
}

.third{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.third-first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-second{
    display: flex;
    margin: 5px;
    align-items:center;
    justify-content: space-evenly;
}
.third-images-first{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.image-border{
    border:3px solid #3882F6 ;
}

.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 20px;
    padding-left: 40px;
}

.hero-quote{
    font-size: 20px;
    font-weight: bold;
}

.fifth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.fifth-inside{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 100px;
}

.fifth-first{
    font-weight: bold;
}

.fifth-right{
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.fifth-button{
    border-color: #E5E7EB;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
}