body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul{
    list-style-type: none;
    display: flex;
    gap : 16px;
}

.left{
    align-items:center;
    font-size:24px;
    color:  #F9FAF8;
    justify-content: space-around;
    font-weight: bold;
}

.right{
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.second{
    display: flex;
    flex-direction: column;
    position: relative;
}

.Hero-main-text{
    size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.Hero-secondary-text{
    size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: 2;
    margin:2;
}

